body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  background-color: #333333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
h1,
h2 {
  margin: 0.5rem;
}
.photo {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 200px;
  text-align: center;
}
.photo img {
  max-width: 100%;
  height: auto;
}
#submit-button,
#cancel-button,
#edit-button,
#delete-button,
#add-button {
  font-size: 14px;
  border-radius: 3px;
  padding: 5px 30px 5px 30px;
  color: white;
}
#add-button {
  margin: 10px;
}
.image-subcontainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
  height: 300px;
  padding: 10px;
  border: 1px solid red;
}
.image-subcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-info {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
#main-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  padding: 10px;
  height: 350px;
}
.edit-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
}
.edit-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#edit-image {
  height: 100%;
  border: 1px solid blue;
}
#form-container {
  border: 1px solid blue;
}
.h5-text {
  border: 1px solid yellow;
  font-size: 17px;
}
.description-text {
  border: 1px solid yellow;
  font-size: 13px;
}
.container-redes {
  display: flex;
  justify-content: end;
  align-items: center;
}
a {
  padding: 5px;
}
.h3-mis-redes {
  font-size: 20px;
}
.subcontainer-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 1px solid red;
}
