body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  background-color: #ec2323;
  color: #fff;
  padding: 1rem;
  text-align: center;
  height: 170px;
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4 {
  margin: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.photo-album{
  font-size: 57px;
  margin-top: 10px;
}
.subtitle{
  font-size: 13px;
}
.photo {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 200px;
  text-align: center;
}
.photo img {
  max-width: 100%;
  height: auto;
}

/*------------ BUTTON COLORS AND HOVERS ---------------*/
#submit-button,
#cancel-button,
#edit-button,
#delete-button,
#add-button {
  font-size: 14px;
  border-radius: 3px;
  padding: 5px 30px 5px 30px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}
#delete-button{
  background-color: #ec2323;
}
#delete-button:hover{
  background-color: #c01010;
}
#add-button{
  background-color: rgb(249, 189, 51);
  margin-top: 28px;
  height: 40px; 
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(249, 189, 51);
}
#add-button:hover{
  background-color: rgb(242, 173, 14);
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.button-container{
  margin-left: auto;
  margin-right: auto;
}
#edit-button{
  background-color: rgb(57, 123, 221);
  border-color: rgb(57, 123, 221);
}
#edit-button:hover{
  background-color: rgb(43, 103, 192);
}
#submit-button{
  background-color: rgb(61, 198, 61);
  width: 100%;
}
#submit-button:hover{
  background-color: rgb(48, 174, 48);
}
#cancel-button{
  background-color: rgb(147, 147, 147);
}
#cancel-button:hover{
  background-color: rgb(128, 128, 128);
}

/*------------ GALLERY ITEMS ---------------*/
.image-subcontainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #bababa;
  width: auto;
  height: auto;
  padding: 15px;
}
.image-subcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

/*------------ PHOTO FORM ---------------*/
#main-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border-width: 4px;
  padding: 10px 15px 20px 15px;
  height: 350px;
  background-color: #ec2323;
}
.text-center{
  padding-top: 10px;
  color: white;
}
.edit-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
}
.edit-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}
#edit-image {
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 20px;
}
.current-image{
  color: rgb(75, 75, 75);
}

/*------------ PHOTO TEXT ---------------*/
.h5-text {
  font-size: 17px;
  margin: 10px auto 0px auto;
}
.description-text {
  font-size: 13px;
  margin: 0px auto 10px auto;
}

/*------------ FOOTER ---------------*/
.make-space{
  height: 130px;
  width: auto;
}
.container-redes {
  background-color: #ec2323;
  height: 90px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.div-h2-my-social-media{
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2-my-social-media{
  font-size: 15px;
  color: #ffffff;
  padding-top: 15px;
  margin-bottom: -5px;
}
a {
  padding: 5px;
}
.subcontainer-redes {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.social-link{
  color: white;
}
.social-link:hover{
  color: rgb(175, 175, 175);
}
.stars{
  color: white;
  padding: 15px 13px 0px 15px;
}